body {

  --yiz-color-primary-light9: #e8f1ff;
  --yiz-color-primary-light8: #d0e4ff;
  --yiz-color-primary-light5: #8bbbff;
  --yiz-color-primary-light4: #73adff;
  --yiz-color-primary-light3: #5ca0ff;
  --yiz-color-primary-light2: #4592ff;
  --yiz-color-primary-light: #2d85ff;
  --yiz-color-primary: #1677ff;
  --yiz-color-primary-heary: #146be6;
  --yiz-color-primary-heary2: #125fcc;
  --yiz-color-primary-heary3: #0f53b3;
  --yiz-color-primary-heary4: #0d4799;
  --yiz-color-primary-heary5: #0b3c80;

  --yiz-color-success-light9: #eef9e8;
  --yiz-color-success-light8: #dcf3d1;
  --yiz-color-success-light5: #a9e28d;
  --yiz-color-success-light4: #97dc76;
  --yiz-color-success-light3: #86d65f;
  --yiz-color-success-light2: #75d048;
  --yiz-color-success-light: #63ca31;
  --yiz-color-success: #52c41a;
  --yiz-color-success-heary: #4ab017;
  --yiz-color-success-heary2: #429d15;
  --yiz-color-success-heary3: #398912;
  --yiz-color-success-heary4: #317610;
  --yiz-color-success-heary5: #29620d;

  --yiz-color-warning-light9: #fff7e8;
  --yiz-color-warning-light8: #feefd0;
  --yiz-color-warning-light5: #fdd68a;
  --yiz-color-warning-light4: #fcce72;
  --yiz-color-warning-light3: #fcc65b;
  --yiz-color-warning-light2: #fbbd43;
  --yiz-color-warning-light: #fbb52c;
  --yiz-color-warning: #faad14;
  --yiz-color-warning-heary: #e19c12;
  --yiz-color-warning-heary2: #c88a10;
  --yiz-color-warning-heary3: #af790e;
  --yiz-color-warning-heary4: #96680c;
  --yiz-color-warning-heary5: #7d570a;

  --yiz-color-error-light9: #ffeded;
  --yiz-color-error-light8: #ffdbdc;
  --yiz-color-error-light5: #ffa6a7;
  --yiz-color-error-light4: #ff9495;
  --yiz-color-error-light3: #ff8284;
  --yiz-color-error-light2: #ff7172;
  --yiz-color-error-light: #ff5f61;
  --yiz-color-error: #ff4d4f;
  --yiz-color-error-heary: #e64547;
  --yiz-color-error-heary2: #cc3e3f;
  --yiz-color-error-heary3: #b33637;
  --yiz-color-error-heary4: #992e2f;
  --yiz-color-error-heary5: #802728;

  --yiz-color-border: #d9d9d9;

  --yiz-color-hover-bg: rgba(0, 0, 0, 0.06);

}

@keyframes yiz-wave-spread {
  from {
    box-shadow: 0 0 0 0 var(--yiz-color-wave);
  }
  to {
    box-shadow: 0 0 0 6px var(--yiz-color-wave)
  }
}

@keyframes yiz-wave-opacity {
  from {
    opacity: 0.6
  }
  to {
    opacity: 0
  }
}

body {
  font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}